extend ./layout.pug

block mainContent
  .mainContentHeader
    h1 2020 9月
  .mainContentBody
    table.calendar
      tr
        th.holidayColor SUN
        th MON
        th TUS
        th WED
        th THU
        th FRI
        th.holidayColor SAT
      tr
        td.holidayColor 
        td 
        td.haveProgram 1
        td 2
        td 3
        td 4
        td.holidayColor 5
      tr
        td.haveProgram.holidayColor.selected 6
        td 7
        td 8
        td 9
        td 10
        td 11
        td.holidayColor 12
      tr
        td.holidayColor.haveProgram 13
        td 14
        td 15
        td 16
        td 17
        td 18
        td.holidayColor 19
      tr
        td.holidayColor 20
        td 21
        td 22
        td 23
        td 24
        td 25
        td.holidayColor 26
      tr
        td.holidayColor 27
        td 28
        td 29
        td 30
        td 
        td 
        td.holidayColor 
